@import 'mixins/theme';

.figure {
  margin: 1em auto 0;
}

.width {
  margin: 0 auto;
  position: relative;
}

.background {
  position: relative;
}

.image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;

  @include theme('background-color', 'img-background');
}
