@import 'mixins/theme';

.paper {
  border-radius: 5px;
  overflow: hidden;
  padding: 16px;
  width: 550px;

  @include theme('background-color', 'paper');
  @include theme('border', 'paper-border', '1px solid');
}

.flat {
  padding: 0;
}
