$nav-app-height: 48px;

$shadow: 0 6px 8px rgb(102 119 136 / 3%), 0 1px 2px rgb(102 119 136 / 30%);

$color-primary: #005dab;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-muted: #6c757d;
$color-body: #212529;
