@import 'mixins/theme';
@import 'variables';

$colors: (
  primary: 'text-primary',
  secondary: 'text-secondary',
  success: 'text-success',
  danger: 'text-danger',
  warning: 'text-warning',
  muted: 'text-muted',
  body: 'text-body',
);

$sizes: (
  extra-small: (
    0.75rem,
    1rem,
  ),
  small: (
    0.875rem,
    1.25rem,
  ),
  base: (
    1rem,
    1.25rem,
  ),
  large: (
    1.125rem,
    1.75rem,
  ),
  extra-large: (
    1.25rem,
    1.75rem,
  ),
);

@each $name, $color in $colors {
  .#{$name} {
    @include theme('color', $color);
  }
}

@each $name, $values in $sizes {
  .#{$name} {
    font-size: nth($values, 1);
    line-height: nth($values, 2);
  }
}
