@import 'mixins/theme';

.navbar {
  align-items: center;
  display: flex;
  padding: 6px 16px;
  position: sticky;
  top: 0;
  z-index: 4000;

  @include theme('background-color', 'navbar');
}

.anchor {
  display: block;
  line-height: 0;
}

.logo {
  margin: 10px 0;
}
