@import 'mixins/theme';

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3 {
  word-break: break-word;
  overflow-wrap: break-word;
}

.markdown blockquote {
  font-style: italic;
  padding-left: 8px;

  @include theme('border-left', 'markdown-blockquote-decorator', '4px solid');
}

.markdown pre {
  overflow-x: auto;
}
