.markdown p,
.markdown h1,
.markdown h2,
.markdown h3 {
  word-break: break-word;
  overflow-wrap: break-word;
}

.markdown blockquote {
  font-style: italic;
  border-left: 4px solid #eaeaea;
  padding-left: 8px;
}

.markdown pre {
  overflow-x: auto;
}
