@import 'variables';

.actions {
  margin-top: $size-small;
}

.commentable {
  display: flex;
}

.details {
  margin-left: $size-base;
}

p.body {
  margin-top: $size-extra-small;
  word-break: break-word;
}
