.card {
  background: white;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  margin-bottom: 24px;
  max-width: 550px;
  overflow: hidden;
}

.background {
  background: #f1f3f5;
  display: block;
  height: 170px;
  object-fit: cover;
  width: 100%;
}

.about {
  border-top: 1px solid #dee2e6;
  padding: 16px;
  position: relative;
}

.thumbnail {
  background: white;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  display: block;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: -40px;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.category {
  margin: 6px 0 5px;
}

.actions {
  align-self: center;
}

.join {
  background: #228be6;
  border-radius: 9px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  line-height: 36px;
  outline: none;
  padding: 0 20px;
  font-weight: 700;
}

.join:active {
  opacity: 0.7;
}
