@import 'mixins/theme';

.markdown p,
.markdown h1,
.markdown h2,
.markdown h3 {
  word-break: break-word;
  overflow-wrap: break-word;
}

.markdown blockquote {
  font-style: italic;
  padding-left: 8px;

  @include theme('border-left', 'markdown-blockquote-decorator', '4px solid');
}

.markdown pre {
  overflow-x: auto;
}

.markdown p,
.markdown li {
  font-family: 'Source Sans Pro';
  font-size: 1.12rem;
  line-height: 1.375;
  word-spacing: 0.1rem;
}

.markdown p {
  margin: 2rem 0;
}
