@use "sass:color";

$default-theme: (
  background-primary: #f1f3f5,
  img-background: #f1f3f5,
  markdown-blockquote-decorator: #eaeaea,
  navbar: #005dab,
  paper-border: #dee2e6,
  paper: white,
  row-border: #dee2e6,
  spinner: #005dab,
  // Layout
  layout-main: #ffffff,
  layout-menu-border: #dee2e6,
  layout-sidebar-border: #dee2e6,
  // Line
  line-border: #dee2e6,
  // Text
  text-primary: #495057,
  text-secondary: #868e96,
  // Button Primary
  button-primary: #098dff,
  button-primary-active: color.adjust(#098dff, $lightness: 20%),
  button-primary-focus: color.adjust(#098dff, $blackness: 40%),
  button-primary-color: #ffffff,
  // Button Secondary
  button-secondary: #868e96,
  button-secondary-active: color.adjust(#868e96, $lightness: 20%),
  button-secondary-focus: color.adjust(#868e96, $blackness: 60%),
  button-secondary-color: #ffffff,
  // Button Success
  button-success: #16c465,
  button-success-active: color.adjust(#16c465, $lightness: 5%),
  button-success-focus: color.adjust(#16c465, $blackness: 40%),
  button-success-color: #ffffff,
  // Button Action
  button-action: #ced4da,
  button-action-active: color.adjust(#005dab, $lightness: 54%),
  button-action-active-color: color.adjust(#005dab, $blackness: 20%),
  button-action-active-hover: color.adjust(#005dab, $lightness: 45%),
  // Button Voting
  button-voting-border: #ced4da,
  button-voting-up: transparent,
  button-voting-up-color: #02a24b,
  button-voting-up-hover: #02a24b,
  button-voting-up-color-hover: #ffffff,
  button-voting-down: transparent,
  button-voting-down-color: #db4242,
  button-voting-down-hover: #db4242,
  button-voting-down-color-hover: #ffffff,
);
