$default-theme: (
  background-primary: #f1f3f5,
  img-background: #f1f3f5,
  markdown-blockquote-decorator: #eaeaea,
  navbar: #005dab,
  paper-border: #dee2e6,
  paper: white,
  row-border: #dee2e6,
  spinner: #005dab,
  text-primary: #495057,
);
