$chars: (
  'a': 1,
  'b': 2,
  'c': 3,
  'd': 4,
  'e': 5,
  'f': 6,
  'g': 7,
  'h': 8,
  'i': 9,
  'j': 10,
  'k': 11,
  'l': 12,
  'm': 13,
  'n': 14,
  'o': 15,
  'p': 16,
  'q': 17,
  'r': 18,
  's': 19,
  't': 20,
  'u': 21,
  'v': 22,
  'w': 23,
  'x': 24,
  'y': 25,
  'z': 26,
  '-': 27,
);

@function gen-hash($word) {
  $i: 1;
  $length: str-length($word);
  $hash: 0;

  @while $i < $length + 1 {
    $char: str-slice($word, $i, $i);
    $i: $i + 1;
    $code: map-get($chars, $char);
    $hash: $hash + ($code * $i);
  }

  @return $hash % 997;
}
