@import 'mixins/theme';

.figure {
  flex-shrink: 0;
  height: 120px;
  margin: 0;
  overflow: hidden;
  width: 550px;
}

.img {
  display: block;
  object-fit: cover;

  @include theme('background-color', 'img-background');
}
