@import 'variables';
@import 'mixins/theme';

$sizes: (
  base: 28px,
  large: 48px,
  extra-large: 90px,
);

@each $name, $size in $sizes {
  .size-#{$name} {
    height: $size;
    max-height: $size;
    max-width: $size;
    min-height: $size;
    min-width: $size;
    width: $size;
  }
}

.avatar {
  display: block;
  border-radius: 5px;

  @include theme('background-color', 'avatar');
}

.rounded {
  border-radius: 100%;
}

.shadow {
  box-shadow: $shadow;
  @include theme('border', 'avatar-border', '2px solid');
}
