@import 'mixins/theme';

.avatar {
  border-radius: 5px;
  box-shadow: 0 6px 8px rgb(102 119 136 / 3%), 0 1px 2px rgb(102 119 136 / 30%);
  display: block;
  flex-shrink: 0;

  @include theme('background-color', 'img-background');
}
