@import 'mixins/theme';

@mixin create-size($name, $font, $line) {
  .#{$name} {
    font-size: $font;
    line-height: $line;

    & span,
    & b,
    & a {
      font-size: $font;
      line-height: $line;
    }
  }
}

.text {
  margin: 0;
}

.truncate {
  text-overflow: ellipsis;
  word-break: break-word;
}

.primary {
  @include theme('color', 'text-primary');
}

.secondary {
  @include theme('color', 'text-secondary');
}

@include create-size('large', 16px, 21px);
@include create-size('medium', 14px, 18px);
@include create-size('small', 12px, 15px);
