@import 'mixins/theme';

.text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.truncate {
  text-overflow: ellipsis;
  word-break: break-word;
}

.primary {
  @include theme('color', 'text-primary');
}

.secondary {
  @include theme('color', 'text-secondary');
}
