@import 'variables';
@import 'mixins/theme';

.figure {
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: $shadow;
  flex-shrink: 0;
  height: 77px;
  margin: 0;
  overflow: hidden;
  width: 110px;
}

.img {
  display: block;
  object-fit: cover;

  @include theme('background-color', 'img-background');
}
