.figure {
  align-self: flex-start;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgb(102 119 136 / 3%), 0 1px 2px rgb(102 119 136 / 30%);
  flex-shrink: 0;
  margin: 0;
  overflow: hidden;
  width: 90px;
}

.img {
  display: block;
  object-fit: cover;
}
